- extends '__base.jade'

block style
  link(rel='stylesheet', href='{{ STATIC_URL }}brand/css/brand.css')

block content

  h1 Brands List

  div.pagination
    span.step-links
      if brands.has_previous
        a(href="?page={{ brands.previous_page_number }}") Previous  
      span.current Page {{ brands.number }} of {{ brands.paginator.num_pages }}.  
      if brands.has_next
        a(href="?page={{ brands.next_page_number }}") Next

  br

  table
    thead
      tr: th Brand
        th Logo
        th Link
    tbody
      for brand in brands
        tr
          td.brand-table-td
           a(href='{% url "brandlist" %}{{brand.bsin}}') {{brand.brand_nm}}
          td.brand-table-td-logo
            img(src="{{brand.brand_logo_src}}",height='50')
          td.brand-table-td
            if brand.brand_link
              a(href="http://#{brand.brand_link}") #{brand.brand_link}
            else
              h4 No link
              
  div.pagination
    span.step-links
      if brands.has_previous
        a(href="?page={{ brands.previous_page_number }}") Previous  
      span.current Page {{ brands.number }} of {{ brands.paginator.num_pages }}.  
      if brands.has_next
        a(href="?page={{ brands.next_page_number }}") Next
