- extends '__base.jade'

block content

  img(src='{{ STATIC_URL }}main/images/brand_logo_200.png',style='float:left;padding-right:20px;')
  h1 Welcome to the <b>Brand Repository</b> of the <b>Open Knowledge Foundation</b> 
