.brand-table-td-name {
    width: 30%;
}

.brand-table-td-bsin {
    width: 5%;
}

.brand-table-td-logo {
    width: 20%;
    text-align:center;
}

.brand-table-td-link {
    width: 30%;
}

.brand-table-td-logo-full {
    width: 40%;
    text-align:center;
}
.brand-table-td-infos {
    width: 60%;
}
