/*
 * Start of Embedded Font
 * ---------------------------------------------------------------------------------------------------
 * (Must be hosted from the same domain!)
 */

/* Open Sans */
@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-Light-webfont.eot');
    src: url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Light-webfont.woff') format('woff'),
         url('OpenSans-Light-webfont.ttf') format('truetype'),
         url('OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-LightItalic-webfont.eot');
    src: url('OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-LightItalic-webfont.woff') format('woff'),
         url('OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-Semibold-webfont.eot');
    src: url('OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Semibold-webfont.woff') format('woff'),
         url('OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-SemiboldItalic-webfont.eot');
    src: url('OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('OpenSans-SemiboldItalic-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: bold;
    font-style: italic;
}


/* Eraser */
@font-face {
    font-family: 'EraserRegular';
    src: url('EraserRegular-webfont.eot');
    src: url('EraserRegular-webfont.eot?#iefix') format('embedded-opentype'),
         url('EraserRegular-webfont.woff') format('woff'),
         url('EraserRegular-webfont.ttf') format('truetype'),
         url('EraserRegular-webfont.svg#EraserRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Cabin Sketch */
@font-face {
    font-family: 'CabinSketch';
    src: url('CabinSketch-Regular-webfont.eot');
    src: url('CabinSketch-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('CabinSketch-Regular-webfont.woff') format('woff'),
         url('CabinSketch-Regular-webfont.ttf') format('truetype'),
         url('CabinSketch-Regular-webfont.svg#CabinSketchRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CabinSketch';
    src: url('CabinSketch-Bold-webfont.eot');
    src: url('CabinSketch-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('CabinSketch-Bold-webfont.woff') format('woff'),
         url('CabinSketch-Bold-webfont.ttf') format('truetype'),
         url('CabinSketch-Bold-webfont.svg#CabinSketchBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* PTSans */
@font-face {
    font-family: 'PTSans';
    src: url('PTS76F-webfont.eot');
    src: url('PTS76F-webfont.eot?#iefix') format('embedded-opentype'),
         url('PTS76F-webfont.woff') format('woff'),
         url('PTS76F-webfont.ttf') format('truetype'),
         url('PTS76F-webfont.svg#PTSansBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'PTSans';
    src: url('PTS75F-webfont.eot');
    src: url('PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('PTS75F-webfont.woff') format('woff'),
         url('PTS75F-webfont.ttf') format('truetype'),
         url('PTS75F-webfont.svg#PTSansBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'PTSans';
    src: url('PTS56F-webfont.eot');
    src: url('PTS56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('PTS56F-webfont.woff') format('woff'),
         url('PTS56F-webfont.ttf') format('truetype'),
         url('PTS56F-webfont.svg#PTSansItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'PTSans';
    src: url('PTS55F-webfont.eot');
    src: url('PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('PTS55F-webfont.woff') format('woff'),
         url('PTS55F-webfont.ttf') format('truetype'),
         url('PTS55F-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
 * END of Embedded Font
 * ----------------------------------------------------------------------------------------------------------------------------
 */

body {
	font-family: OpenSans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-top: 0px;				
	display: block;	
}

#content {
	margin-right: auto;
	margin-left: auto;	
	width: 970px;
}				
					
.okfn-top {
	color: rgb(255, 255, 255);
	display: block;
	font-family: OpenSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 65px;
	line-height: 20px;
	margin-bottom: 15px;
	margin-top: 0px;
	width: 1903px;
}

.navbar {
	color: rgb(119, 119, 119);
	display: block;
	font-family: OpenSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 65px;
	line-height: 20px;
	margin-bottom: 0px;
	overflow-x: visible;
	overflow-y: visible;
	width: 1903px;	
}

.navbar-inner {
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	-webkit-box-shadow: rgba(0, 0, 0, 0) 0px 1px 2px 0px, rgba(0, 0, 0, 0) 0px -1px 0px 0px inset;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-image: -webkit-linear-gradient(top, rgb(255, 255, 255) 0px, rgb(243, 243, 243) 50%, rgb(237, 237, 237) 51%, rgb(255, 255, 255) 100%);
	background-origin: padding-box;
	background-repeat: repeat;
	background-size: auto;
	border-bottom-color: rgb(229, 229, 229);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(51, 51, 51);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(51, 51, 51);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(51, 51, 51);
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top-style: none;
	border-top-width: 0px;
	box-shadow: rgba(0, 0, 0, 0) 0px 1px 2px 0px, rgba(0, 0, 0, 0) 0px -1px 0px 0px inset;
	color: rgb(51, 51, 51);
	display: block;
	font-family: OpenSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 66px;
	line-height: 20px;
	min-height: 40px;
	padding-left: 0px;
	padding-right: 0px;
	width: 1903px;
}

.container {
	color: rgb(51, 51, 51);
	display: block;
	font-family: OpenSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 66px;
	line-height: 20px;
	margin-left: 481.5px;
	margin-right: 481.5px;
	max-width: 940px;
	width: 940px;
}

.okfn-ribbon {
	position: relative;
	float: right;
	width: 48px;
	height: 40px;
	margin-left: 5px;
}

.okfn-ribbon a {
	background-image: url(http://assets.okfn.org/web/images/okf-ribbon.png);
	background-repeat: no-repeat;
	background-position: center -27px;
	width: 48px;
	height: 73px;
	display: block;
	cursor: pointer;
	text-indent: -999px;
	overflow: hidden;
	position: absolute;
	z-index: 1;
}


.okfn-top .search-form {
	color: rgb(255, 255, 255);
	display: none;
	font-family: OpenSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: auto;
	line-height: 20px;
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	width: auto;
}

.navbar .brand {
	color: rgb(51, 51, 51);
	cursor: auto;
	display: block;
	float: left;
	font-family: OpenSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 200;
	height: 65px;
	line-height: 65px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 0px;
	text-decoration: none;
	text-shadow: rgb(255, 255, 255) 0px 1px 0px;
	width: 223px;
	
}
.navbar a {
	font-family: OpenSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar .brand img {
	border-bottom-color: rgb(51, 51, 51);
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(51, 51, 51);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(51, 51, 51);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(51, 51, 51);
	border-top-style: none;
	border-top-width: 0px;
	color: rgb(51, 51, 51);
	cursor: auto;
	display: block;
	float: left;
	font-family: OpenSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 200;
	height: 35px;
	line-height: 65px;
	margin-right: 12px;
	margin-top: 15px;
	max-width: 100%;
	text-shadow: rgb(255, 255, 255) 0px 1px 0px;
	vertical-align: middle;
	width: 35px;
}

.nav-collapse {
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.35s;
	-webkit-transition-property: height;
	-webkit-transition-timing-function: ease;
	color: rgb(51, 51, 51);
	display: block;
	font-family: OpenSans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 0px;
	line-height: 20px;
	overflow-x: visible;
	overflow-y: visible;
	position: relative;
	transition-delay: 0s;
	transition-duration: 0.35s;
	transition-property: height;
	transition-timing-function: ease;
	width: 940px;		
}
				
.nav {
	color: rgb(51, 51, 51);
	display: block;
	float: right;
	font-family: OpenSans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 66px;
	left: 0px;
	line-height: 20px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: relative;
	width: 405px;
	z-index: 999;
}
				
#menu-item-1 {
	color: rgb(51, 51, 51);
	display: list-item;
	float: left;
	font-family: OpenSans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 66px;
	line-height: 20px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	width: 56px;
	z-index: auto;
}
				
#menu-item-1 a {
	color: rgb(51, 51, 51);
	cursor: auto;
	display: block;
	float: none;
	font-family: OpenSans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding-bottom: 22px;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 24px;
	text-align: left;
	text-decoration: none;
	text-shadow: none;
	width: 38px;
}
				
#menu-item-2 {
	color: rgb(51, 51, 51);
	display: list-item;
	float: left;
	font-family: OpenSans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 66px;
	line-height: 20px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	width: 45px;
	z-index: auto;
}
				
#menu-item-2 a {
	color: rgb(93, 93, 93);
	cursor: auto;
	display: block;
	float: none;
	font-family: OpenSans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding-bottom: 22px;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 24px;
	text-align: left;
	text-decoration: none;
	text-shadow: none;
	width: 27px;
}

#menu-item-3 {
	color: rgb(51, 51, 51);
	display: list-item;
	float: left;
	font-family: OpenSans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 66px;
	line-height: 20px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	position: relative;
	text-align: left;
	width: 96px;
	z-index: 1000;
}
				
#menu-item-3 a {
	color: rgb(93, 93, 93);
	cursor: auto;
	display: block;
	float: none;
	font-family: OpenSans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding-bottom: 22px;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 24px;
	text-align: left;
	text-decoration: none;
	text-shadow: none;
	width: 78px;
}
				
#menu-item-4 {
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px inset;
	background-color: rgb(237, 237, 237);
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px inset;
	color: rgb(51, 51, 51);
	display: list-item;
	float: left;
	font-family: OpenSans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 66px;
	line-height: 20px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	width: 98px;
	z-index: auto;
}

#menu-item-4  a {				
	-webkit-box-shadow: rgba(0, 0, 0, 0.121569) 0px 3px 8px 0px inset;
	background-color: rgb(229, 229, 229);
	box-shadow: rgba(0, 0, 0, 0.121569) 0px 3px 8px 0px inset;
	color: rgb(93, 93, 93);
	cursor: auto;
	display: block;
	float: none;
	font-family: OpenSans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding-bottom: 22px;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 24px;
	text-align: left;
	text-decoration: none;
	text-shadow: none;
	width: 80px;
}
				
				
#menu-item-5 {
	color: rgb(51, 51, 51);
	display: list-item;
	float: left;
	font-family: OpenSans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 66px;
	line-height: 20px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	width: 110px;
	z-index: auto;
}

#menu-item-5  a {				
	color: rgb(93, 93, 93);
	cursor: auto;
	display: block;
	float: none;
	font-family: OpenSans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding-bottom: 22px;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 24px;
	text-align: left;
	text-decoration: none;
	text-shadow: none;
	width: 92px;
}

.okf-footer {
	border-top-color: rgba(127, 127, 127, 0.298039);
	border-top-style: dotted;
	border-top-width: 1px;
	color: rgb(64, 64, 64);
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	padding-bottom: 15px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 15px;
	text-shadow: none;
	width: 1903px;
}

.okf-footer.container {
	color: rgb(64, 64, 64);
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	margin-left: 481.5px;
	margin-right: 481.5px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-shadow: none;
	width: 940px;
}

.okf-footer-global {

	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(239, 239, 239);
	background-image: none;
	background-origin: padding-box;
	background-size: auto;
	border-top-color: rgb(229, 229, 229);
	border-top-style: solid;
	border-top-width: 1px;
	color: rgb(64, 64, 64);
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 91px;
	line-height: 20px;
	margin-top: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-shadow: none;
	width: 1903px;
	
}

.okf-footer-global .inner {
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-origin: padding-box;
	background-size: auto;
	color: rgb(192, 192, 192);
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 11px;
	height: 0px;
	line-height: 20px;
	min-height: 0px;
	padding-bottom: 30px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 10px;
	text-shadow: none;
	width: 1903px;
}


.okf-footer .container ul {
	color: rgb(64, 64, 64);
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	list-style-type: disc;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-shadow: none;
	width: 940px;
}

.okf-footer .container ul li {
	border-right-color: rgba(127, 127, 127, 0.298039);
	border-right-style: solid;
	border-right-width: 1px;
	color: rgb(64, 64, 64);
	display: inline-block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	height: 14px;
	line-height: 14px;
	list-style-type: disc;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 5px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 7px;
	padding-top: 0px;
	text-align: left;
	text-shadow: none;
	width: 73px;
}

.okf-footer .container ul li a {
	color: rgb(64, 64, 64);
	cursor: auto;
	display: inline;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	height: auto;
	line-height: 14px;
	list-style-type: disc;
	opacity: 1;
	outline-color: rgb(64, 64, 64);
	outline-style: none;
	outline-width: 0px;
	text-align: left;
	text-decoration: none;
	text-shadow: none;
	width: auto;
}

.okf-footer .container ul li:last-child {
	padding: 0;
	margin: 0;
	border: none;
}