- extends '__base.jade'

block style

block content

  h1 Download dump

  p Latest dump :

  a(href="{{ MEDIA_URL }}dumps/latest.csv") Current live dump

  h1 API

  h2 Brand list :

  a(href="{% url 'api_dispatch_list' api_name='v1' resource_name='brand' %}?format=json")  http://{{ site.domain }}{% url 'api_dispatch_list' api_name='v1' resource_name='brand' %}?format=json

  p You can also get XML data setting the format GET parameter to "xml".

  a(href="{% url 'api_dispatch_list' api_name='v1' resource_name='brand' %}?format=xml")  http://{{ site.domain }}{% url 'api_dispatch_list' api_name='v1' resource_name='brand' %}?format=xml

  h2 Brand detail :

  p http://{{ site.domain }}{% url 'api_dispatch_detail' api_name='v1' resource_name='brand' pk='BSIN' %}?format=json

  b Example, for BSIN 6Y61Z7 :

  ul
    li JSON : 
      a(href="{% url 'api_dispatch_detail' api_name='v1' resource_name='brand' pk='6Y61Z7' %}?format=json") http://{{ site.domain }}{% url 'api_dispatch_detail' api_name='v1' resource_name='brand' pk='6Y61Z7' %}?format=json
    li XML : 
      a(href="{% url 'api_dispatch_detail' api_name='v1' resource_name='brand' pk='6Y61Z7' %}?format=xml") http://{{ site.domain }}{% url 'api_dispatch_detail' api_name='v1' resource_name='brand' pk='6Y61Z7' %}?format=xml

//- Postponed in ticket #58
//-  h2 Owner list :
//-
//-  a(href="{% url 'api_dispatch_list' api_name='v1' resource_name='brand_owner' %}?format=json") {% url 'api_dispatch_list' api_name='v1' resource_name='brand_owner' %}?format=json

//- Postponed in ticket #58
//-  h2 Owner detail :
//-
//-  p {% url 'api_dispatch_detail' api_name='v1' resource_name='brand_owner' pk='OWNER_CD' %}?format=json
//-
//-  b Example, for owner code 1 : 
//-
//-  a(href="{% url 'api_dispatch_detail' api_name='v1' resource_name='brand_owner' pk='1' %}?format=json") {% url 'api_dispatch_detail' api_name='v1' resource_name='brand_owner' pk='1' %}?format=json
