- extends '__base.jade'

block content

  div(style="padding-left:50px;padding-right:50px;")

    h1 Welcome to the 
      b Brand Repository 
      | of the 
      b Open Knowledge Foundation
    
    
    p Recognising the need for a unique and standard identifier for brands, we have developed this brand repository and brand manager.

    p In order to link products to their brand, we needed to develop a standard and unique identifier for brands. The 
      b BSIN code (Brand Standard Identifier Number)
      | , a code comprised of 6 alphanumeric characters unique to individual brands, serves this purpose. In developing the brand repository and brand manager, our primary concern has been ensuring the accuracy and reliability of our database. There are a number of checks in place to ensure that our database is completely stable and can easily be integrated in web applications and platforms.

    p The Open Product Data brand repository is an open database, available under the MIT licence, and can be downloaded in bulk or accessed via our API. We believe in interoperability and want our users to be able to use our data in connection with existing source of information such as OpenCorporates, Wikipedia and the Open Product Database.

    p If you want to participate in the expansion of the repository, you can propose a brand on the website or become a database moderator. To find our more or get involved in the project join the 
      a(href="https://lists.okfn.org/mailman/listinfo/product",target="_blank",rel="nofollow") Open Product Data Mailing List
      | , contribute on 
      a(href="https://github.com/okfn/brand-manager",target="_blank",rel="nofollow") Github 
      | or emails 
      a(href="mailto:getinvolved@okfn.org",target="_blank",rel="nofollow") getinvolved@okfn.org
      |.
