!!! 5
html(lang="en")
  head
    - include '_header.jade'
    block style

  body
    - include '_okfn-header.jade'
  
    #main-wrap
      #sidebar
        - include '_sidebar.jade'
      #content
        block content

    block scripts

    - include '_okfn-footer.jade'
