div.okf-footer-global
  div.inner
    div.container
      div(id="row")

  div.okf-footer
    div.container
    ul
      li
      a(href="http://okfn.org/terms-of-use/")
      | Terms of use
      li
      a(href="http://okfn.org/privacy-policy/")
      | Privacy policy
      li
      a(href="http://okfn.org/ip-policy/")
      | IP Policy
