img(src='{{ STATIC_URL }}main/images/brand_logo_200.png',style='padding:0px;margin-bottom:10px;', alt='OKFN Band Repository logo')

#cssmenu
  ul
    li
      a(href="{% url 'home' %}")
        span
          | Home
    li
      a(href="{% url 'brandlist' %}")
        span
          | Brand List
    //- Postponed in ticket #58
    //- li
    //-   a(href="{% url 'ownerlist' %}")
    //-     span
    //-       | Owner List
    li
      a(href="{% url 'brandproposal' %}")
        span
          | Add a brand
    li
      a(href="{% url 'extract' %}")
        span
          | Download & API
